<!DOCTYPE html>
<html lang="en" ng-app="blogApp">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Real-Time Blog App</title>

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" ng-href="lib/css/bootstrap.min.css">
	<link rel="stylesheet" ng-href="lib/css/bootstrap-theme.min.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" ng-href="css/main.css">

	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body ng-cloak ng-init="[]">
	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

		<div class="container">

			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" ng-href="#/">Netcraft Academy</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li ng-class="{active: setActive}">
						<a ng-href="#/posts">Posts</a>
					</li>
					<li>
						<a ng-href="#/admin">Admin</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->

		</div>
		<!-- /.container -->
	</nav>

	<!-- Page Content -->
	<div class="container" ng-controller="postController as postCtrl" >

		<div class="row">

			<!-- Dynamic Content Here -->
			<ng-view></ng-view>

			<!-- Blog Sidebar Widgets Column -->
			<aside class="col-md-4">

				<!-- Blog Search Well -->
				<div class="well">
					<h4>Search</h4>

					<form ng-submit="postCtrl.submit()">
						<div class="input-group">
							<input type="search" name="search" class="form-control" ng-model="postCtrl.search">
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</span>
						</div>
						<!-- /.input-group -->
					</form>
				</div>

				<!-- Blog Categories Well -->
				<div class="well" ng-controller="sideBarController as sideBar">
					<h3>Filter Posts</h3>

					<div class="list-group">
						<a ng-href="#/posts" class="list-group-item" ng-class="{active: setActive || sideBar.selected === 'all-posts'}" ng-click="sideBar.select('all-posts')">
							<span class="badge">{{sideBar.postTotal}}</span>
							Show All Posts
						</a>
					</div>

					<h4><small class="glyphicon glyphicon-tag"></small> Category</h4>
					<div class="list-group">
						<a ng-href="#/posts/?category={{category.name | lowercase}}" class="list-group-item" ng-repeat="category in sideBar.categoryArray" ng-class="{active: sideBar.selected === 'category'+$index}" ng-click="sideBar.select('category'+$index)">
							<span class="badge">{{category.times}}</span>
							{{category.name}}
						</a>
					</div>

					<h4><small class="glyphicon glyphicon-user"></small> Author</h4>
					<div class="list-group">
						
						<a ng-href="#/posts/?author={{author.name | lowercase | spaceToDash}}" class="list-group-item" ng-repeat="author in sideBar.authorArray" ng-class="{active: sideBar.selected === 'author'+$index}" ng-click="sideBar.select('author'+$index)">
							<span class="badge">{{author.times}}</span>
							{{author.name}}
						</a>
						

					</div>

					<h4><small class="glyphicon glyphicon-time"></small> Month</h4>
					<div class="list-group">
						<div ng-repeat="dates in sideBar.dateArray">
							<span class="list-group-item disabled">
								{{dates.year}}
							</span>
							<a ng-href="#/posts/?month={{dates.month}}-{{dates.year}}" class="list-group-item" ng-class="{active: sideBar.selected === 'dates'+$index}" ng-click="sideBar.select('dates'+$index)">
								<span class="badge">{{dates.times}}</span>
								{{dates.month}}
							</a>
						</div>
						
					</div>
				</div>
			</aside>

		</div>
		<!-- /.row -->

		<hr>

		<!-- Footer -->
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>Copyright &copy; Netcraft Academy 2015</p>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
		</footer>

	</div>
	<!-- /.container -->

	<!-- Libraries -->
	<script src="lib/js/jquery.min.js"></script>
	<script src="lib/js/bootstrap.min.js"></script>
	<script src="lib/js/marked.min.js"></script>
	<!-- Angular loaded here -->
	 <script src="lib/js/angular.min.js"></script>
	 <script src="lib/js/angular-route.min.js"></script>
	<script src="lib/js/angular-sanitize.min.js"></script>
	<!-- App -->

	<!-- App Module -->
	<script src="app/blogAppModule.js"></script>
	
	<!-- App Routes Config -->
	<script src="app/common/mainRoutesConfig.js"></script>

	<!-- App Services -->
	<script src="app/common/postService.js"></script>
	<script src="app/common/cacheService.js"></script>
	<script src="app/common/cacheData.js"></script>
	<script src="app/sidebar/nameDatesService.js"></script>
	
	<!-- App Controllers --> 
	<script src="app/main/mainCtrl.js"></script>
	<script src="app/sidebar/sidebarCtrl.js"></script>
	<script src="app/post/postCtrl.js"></script>
	<script src="app/admin/adminCtrl.js"></script>
	
	<!-- App Filters -->
	<script src="app/common/commonFilters.js"></script>
	<script src="app/sidebar/sidebarFilters.js"></script>


</body>
</html>
